.hamburger-content {
  background-color: #fff;
  height: 100%;
  padding: 20px;
  width: 300px;
  &__block {

    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__dropdown {
    margin-top: 20px;
  }
  &__dropdown-inner {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  &__link-inner {
    justify-content: center;
  }
}
.link__inner {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.logo-link_mobile {
  margin-top: 20px;
  margin: 0 auto;
}
