.sidebar__content {
  position: absolute;
  top: 0;
  height: 100%;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &-left {
    transform: translateX(-100%);
    visibility: hidden;
    &_opened {
      transform: translateX(0);
      visibility: visible;
    }
    &_closed {
      transform: translateX(-100%);
      visibility: hidden;
    }
  }

  &-right {
    transform: translateX(100%);
    visibility: hidden;
    &_opened {
      transform: translateX(0);
      visibility: visible;
    }
    &_closed {
      transform: translateX(100%);
      visibility: hidden;
    }
  }
}
