.sidebar__content {
  position: absolute;
  top: 0;
  height: 100%;

  &-left {

    transition: left .3s ease-in-out;

    &_opened {
      left: 0;
    }
    &_closed {
      left: -100%;
    }
  }

  &-right {

    transition: right .3s ease-in-out;

    &_opened {
      right: 0;
    }
    &_closed {
      right: -100%;
    }
  }
}
