.wrapper {
  position: relative;
  overflow: hidden;
}
.card-image {
  position: relative;
  width: 100%;
  min-height: 400px;
  transition: transform 0.3s ease-in-out;
  &_hovered {
    transform: scale(1.05);
  }
}