.text-input {
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--gray);
  outline: none;
  border: none;
  transition: box-shadow .3s ease;
  &:hover {
    box-shadow: 0 0 0 1px var(--black);
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--black);
  }
}