.dropdown-menu {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  padding: 24px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--gray);
  min-width: 200px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    transition: color 0.3s ease-in-out;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    &:hover {
      background-color: var(--gray);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
