.dropdown {
  position: absolute;
  top: calc(var(--header-height) * 2);
  left: 0;
  padding: 20px 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid var(--gray);
  z-index: 10;
  &_static {
    position: static;
    border: none;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &_mobile {
      gap: 0;
    }
  }
  &__item {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    &_mobile {
      border-bottom: 1px solid var(--gray);
      padding: 10px 0;

      &:first-child {
        border-top: 1px solid var(--gray);
      }
    }

    &-radio {
      width: 16px;
      height: 16px;
    }
    &-checkbox {
      width: 16px;
      height: 16px;
    }
    &-label {
      padding: 0 10px 0;
    }
  }
}
.dropdown__item-label-container {
  width: 100%;
}
@media(max-width: 768px) {
  .container  {
    padding: 0;
  }
  .dropdown__item_mobile {
    padding-left: 15px;
    padding-right: 15px;
  }
}
