.button {
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 15px;
  &:disabled {
    cursor: default;
  }
}

.black {
  background-color: var(--black);
  color: var(--white);
  transition: background-color .3s ease;
  &:hover {
    background-color: var(--black-hover);
  }
  &:disabled {
    color: #b0b1af;
    background-color: #f4f4f4;
  }
}

.white {
  background-color: var(--white);
  border: 1px solid var(--gray);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  &:hover {
    background-color: var(--gray-muted);
  }
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.main {
  border-radius: var(--border-radius);
}
.none {
  border-radius: 0 !important;
}

.sm {
  padding: 5px 10px;
}

.md {
  padding: 10px 20px;
}