.layout-category {
  &__wrapper {
    border-bottom: 1px solid var(--gray);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    &-center {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      gap: 30px;
      .layout-category__item {
        background: transparent;
        border: none;
        font-size: 16px;
      }
    }
    &-end {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__selected-items {
  }
}