.layout-category__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 59.33px;
  .list-center {
    grid-column-start: 2;
  }
  .list-end {
    justify-self: end;
  }
}
.list-center__item {
  border: none;
  background: transparent;
  padding: 12px 24px;
  font-size: 16px;
  &:hover {
    background-color: var(--gray);
    border-radius: var(--border-radius);
  }
}