.cart-content {
  background-color: #fff;
  max-width: 375px;
  &__cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;  
    max-height: 800px;
    overflow-y: auto;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
  }
}

.empty-message {
  padding: 10px;
}