.modal__content {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  border-radius: 20px;
  &-bottom {
    bottom: 50%;
    transform: translate(-50%, 50%);
    visibility: hidden;
    &_opened {
      bottom: 50%;
      transform: translate(-50%, 50%);
      visibility: visible;
      opacity: 1;
    }
    &_closed {
      bottom: 0;
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0;
    }
  }
}
.close-button {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  align-self: end;
}