.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  background: transparent;
  border-radius: var(--border-radius);
  padding: 0 2px;
  // border: 1px solid #000;
  &:hover {
    background-color: var(--gray);
  }
  // padding: 0 5px;
  &__bar {
    height: 2px;
    width: 100%;
    background-color: black;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    &_active {
      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
        pointer-events: none;
      }
      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}
@media(min-width: 1050px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 1051px) {
  .hamburger {
    display: flex;
  }
}
