.card {
  position: relative;
  min-height: 500px;
  &__product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    min-height: 170px;
  }
}
.prices {
  display: flex;
  justify-content: space-between;
  &__old {
    text-decoration: line-through;
  }
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  font-weight: 700;
  &-icon {
    font-size: 20px;
  }
}
.button-container {
  width: 100%;
}

.card__button_active {
  background-color: #fff;
  color: black;
}
.tooltip-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
}