.card {
  position: relative;
  min-height: 500px;
  &__product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    min-height: 210px;
  }
}
.image-wrapper {
  position: relative;
  &:hover .quick-view,
  .quick-view:hover {
    opacity: 1;
    bottom: 10px;
    pointer-events: auto;
  }
}

.quick-view {
  position: absolute;
  left: 50%;
  bottom: -1px;
  background-color: var(--black);
  transform: translateX(-50%);
  width: 55%;
  text-align: center;
  opacity: 0;
  transition: bottom 0.5s ease, opacity 0.3s ease, background-color .3s ease;
  &:hover {
    background-color: var(--black-hover);
  }
  button {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  &_opened {
    opacity: 1;
    bottom: 10px;
  }
}

.prices {
  display: flex;
  justify-content: space-between;
  &__old {
    text-decoration: line-through;
  }
  &_active {
    color: var(--accent-color) !important;
  }
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  font-weight: 700;
  &-icon {
    font-size: 20px;
  }
}
.button-container {
  width: 100%;
}

.card__button_active {
  background-color: #fff;
  color: black;
}
.tooltip-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
}